<center><h1>
    Welcome to movie page
</h1></center>


<center><form action="/results" method="GET" style="margin-top: 7%">
               
       <input type="text" placeholder="enter movie name" name="search">
       <input type="submit">



         </form>

</center>